@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

body {
  background-color: #85ffbd;
  background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);

  font-family: "Quicksand" !important;
}
table {
  box-shadow: 0px 0px 16px -3px rgba(0, 0, 0, 0.75);
}

table th i {
  cursor: pointer;
}

table th i:hover {
  color: lightslategrey;
}

.spinner-container {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.spinner-border {
  position: absolute;
  left: 50%;
  top: 50%;
}
